body{

   background-color: #d3d3d3;
   font-family: 'Times New Roman';
}

h1{
   font-family: 'Times New Roman';
   text-align: center;
   color: #516bb5;
  
}
.logo-image{
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 150px;
}

.about-profile-img{
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 150px;
}

h2{
 font-family: 'Times New Roman';
 color: #516bb5;
}

h3{
 font-family: 'Times New Roman';
 color: #516BB5;
}
 p{ font-family: 'Times New Roman';
    text-align: justify;
    padding:10px;
 }
 p.outset{
   border: 2px solid #d3d3d3;
   border-radius: 16px;
 }

 .navbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar-profilelinks {
   margin-left: auto;
   /* flex-direction: row-reverse;
   align-items:center;
   gap: 1rem;
   list-style: none;
   margin: 0;
   padding: 0; */ 
   /* spacing between links */
}

a:link, a:visited{
   color: black;
   text-decoration: none;
}
a:hover, a:active{
   color:#516BB5;
}



.report-button{ /*most buttons*/
   display: inline-block;
   text-align: center;
   font-family: 'Times New Roman';
   background-color: #7ecdfc;
   border: 1px solid black;
   border-radius: 4px;
   padding: 14px 40px;
   text-decoration: none;
   font-size: 16px;
   cursor: pointer;
  /* Set a baseline width and height */
   min-width: 200px; 
   height: 45px;
  /* Ensures padding and borders are included within the width/height */
   /* box-sizing: border-box;  */
  /* Optional: Aesthetics */
  padding: 10px;
  text-align: center;
 }

 #report-button-clear{
   background-color: #DAE8FC;
 }
   
.buttonClick{ 
    font-family: 'Times New Roman';
       background-color: #DAE8FC;
  border:black;
  padding: 14px 40px;
   border-radius: 4px;
  font-size: 16px;
 cursor: pointer;

  /* Set a baseline width and height */
  min-width: 200px; 
  height: 45px;

  /* Ensures padding and borders are included within the width/height */
  box-sizing: border-box; 
  
  /* Optional: Aesthetics */
  padding: 10px;
  text-align: center;
}

