body{

   background-color: #d3d3d3;
   font-family: 'Times New Roman';
}

h1{
   font-family: 'Times New Roman';
   text-align: center;
   color: #7ecdfc;
  
}

h2{
 font-family: 'Times New Roman';
 color: #7ecdfc;
}

h3{
 font-family: 'Times New Roman';
 color: #7ecdfc;
}
 p{ font-family: 'Times New Roman';
    text-align: justify;
    padding:10px;
 }

.buttons1{ /*most buttons*/
       font-family: 'Times New Roman';
       background-color: #dae8fc;
  border: #d3d3d3;;
   border-radius: 4px;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
 }  
   
.buttons2{  /*submit button*/
    font-family: 'Times New Roman';
       background-color: #7ecdfc;
  border: #d3d3d3;
  padding: 14px 40px;
   border-radius: 4px;
  font-size: 16px;
 cursor: pointer;

}    
.equal-btn
{
   
  /* Set a baseline width and height */
  min-width: 200px; 
  height: 45px;
  
  /* Ensures padding and borders are included within the width/height */
  box-sizing: border-box; 
  
  /* Optional: Aesthetics */
  padding: 10px;
  text-align: center;
   border-radius: 4px;
}